<div class="index-content">
    <section class="content-header">
        <h4 data-lang="sidebar-alarm-group-config"></h4>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-cogs" data-lang="sidebar-global-settings"></i></li>
            <li class="active" data-lang="sidebar-alarm-group-config"></li>
        </ol>
    </section>
    <section class="content">
        <table id="group-centers" data-pagination="true" data-page-list="[10, 20, 50, 100]" data-search="true" data-show-refresh="true" data-show-toggle="true" data-striped="true">
            <thead>
            <tr>
                <th data-field="name" data-sortable="true"><span data-lang="alarm-group-name"></span></th>
                <th data-field="remark" data-sortable="true"><span data-lang="alarm-group-remark"></span></th>
                <th data-field="createDate" data-sortable="true"><span data-lang="alarm-group-createDate"></span></th>
                <th data-field="updateDate" data-sortable="true"><span data-lang="alarm-group-updateDate"></span></th>
                <th data-field="operation" data-formatter="generateOperationButtons"><span data-lang="operation"></span></th>
            </tr>
            </thead>
        </table>
        <button type="button" class="btn-xs btn-success" data-toggle="modal" id="add-group-config" data-lang="operation-add"></button>
    </section>
</div>
<div id="add-group-center" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close-alarm-group-form" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-lang="filter-exception-update"></h4>
            </div>
            <form id="alarm-group-form">
                <div class="modal-body">
                    <input type="hidden" id="id"/>
                    <div class="form-group">
                        <label for="name" class="control-label" data-lang="alarm-group-name"></label>
                        <input type="text" class="form-control" id="name" name="name" required="required" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="control-label" data-lang="alarm-group-remark"></label>
                        <input type="text" class="form-control" id="remark" name="remark"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-group-center-btn" type="submit" class="btn-xs btn-primary" data-lang="operation-submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/lib/bootstrap-table/bootstrap-table.js"></script>
<script src="/lib/BootstrapValidator/js/bootstrapValidator.js"></script>
<script src="/lib/BootstrapValidator/js/bootstrapValidator_zh_CN.js"></script>
<script src="/js/util/common.js"></script>
<script src="/js/global/alarm_group.js"></script>
